body {
    color: #918E9B;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 18px;
    background-color: #F55A5A;
    color: whitesmoke;
}

.header > h3 {
    margin-left: 10px;
}

h2 {
    color: #2B283A;
}

a {
    text-decoration: underline;
    color: #918E9B;
}

.card {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 60px;
}

.card > img {
    width: 250px;
    height: 300px;
    border-radius: 5px;
}

.card--info {
    width: 450px;
}

.card--header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location--pin {
    color: #F55A5A;
}