html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(to right bottom, #9da4f6, #4f56a5 );
}

/* Header including logo and checklist icon  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 10vh;
    padding: 1% 5%;
    color: whitesmoke;
    font-size: x-large;
}

.logo, .fa-clipboard-list {
    max-height: 10vh;
}

/* Main content */

.main--content {
    display: flex;
}

.weekly--menu, .recipe--display, .recipes {
    background-color: whitesmoke;
    border-radius: 5px;
}

/* Weekly planner and recipe information */

.user--selections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 75vh; 
    margin: 2% 2.5% 5% 5%;
}

.week {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    height: 25%;
    color: #4f56a5;
    padding: 0;
}

.recipe--display {
    height: 85%;
}

/* Recipe options sidebar */

.recipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 75vh; 
    margin: 2% 5% 5% 2.5%;
}

.recipe--list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10px 5px;
}

/* Dropdown Menu  */

select {
    appearance: none;
    outline: 0;
    background: #9da4f6;
    height: 30px;
    font-size: large;
    color: whitesmoke;
    border: #9da4f6;
    border-radius: 5px;
    text-align: center;
    box-shadow: 4px 4px 20px -2px rgba(0,0,0,.35);
    transition: all .4s;
}

select:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px -1px rgba(0,0,0,.35);
   }

select:hover:active h2{
    transform: translateY(10px);
    box-shadow: 0px -1px 2px 0px rgba(0,0,0,.35);
   }

/* Style Search Bar */

input {
    background-color: #9da4f6;
    color: whitesmoke;
    border-style: none;
    border-radius: 5px;
    outline: none;
    letter-spacing: 1px;
    width: 22vw;
    height: 25px;
    text-align: center;
    font-size: medium;
}