body {
  background-color: #a2c3c2;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  max-height: auto;
  border: 2px solid #80afbd;
  margin: auto;
  margin-top: 5%;
}

.info, .about, .interests, .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info > img {
  max-width: 100%;
}

.about, .interests {
  max-width: 90%;
}

.footer {
  flex-direction: row;
}